

.main_insta{
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


.insta_title{
    color: #6d6d6d;
    letter-spacing: -1px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 45px;
    font-weight: 300 !important;
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;
    @media(max-width:500px){
    font-size: 40px;
    }
}

.instagram{
    display: flex;
    flex-direction: column;
    gap: .6rem;
}



.insta_line_1{
display: flex;
gap: .5rem;
@media(max-width:990px){
    // flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}
    

.insta1{
    position: relative;
    width: 208.663px;
    height: 208.663px;
    .insta_icon{
        position: absolute;
        bottom: 20px;
        z-index: 1;
     color: white;
        right: 20px;
    }
    
     img{
        width: 208.663px;
        height: 208.663px;
    }
}











.insta2{

    position: relative;

    width: 208.663px;
    height: 208.663px;
    .insta_icon{
        position: absolute;
        bottom: 20px;
        z-index: 1;
     color: white;
        right: 20px;
    }
    



     img{
    width: 208.663px;
    height: 208.663px;
}
}





.insta3 {
    position: relative;
    width: 167.023px;
    height: 208.663px;
    .insta_icon{
        position: absolute;
        bottom: 20px;
        z-index: 1;
     color: white;
        right: 20px;
    }
    img{
        width: 167.023px;
        height: 208.663px;
    }
}



















.insta4 {
    position: relative;
    width: 370.651px;
    height: 208.663px;
    @media(max-width:400px){
        width: 200px;
    }
    .insta_icon{
        position: absolute;
        bottom: 20px;
        z-index: 1;
     color: white;
        right: 20px;
    }
    
    img{

    width: 370.651px;
    height: 208.663px;
    @media(max-width:400px){
        width: 200px;
    }
}
}







}

.insta_line_2{
display: flex;
gap: .5rem;
@media(max-width:990px){
    // flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: .5rem;

}
  





    .insta5{

        position: relative;
        width: 270.195px;
        height: 202.646px;
        .insta_icon{
            position: absolute;
            bottom: 20px;
            z-index: 1;
         color: white;
            right: 20px;
        }
        
        img{
            width: 270.195px;
            height: 202.646px;
        }
    }







.insta6 {
    position: relative;
    width: 279.512px;
    height: 202.646px;
    
    .insta_icon{
        position: absolute;
        bottom: 20px;
        z-index: 1;
     color: white;
        right: 20px;
    } 
img{
    width: 279.512px;
    height: 202.646px;
}
}




.insta7 {
    position: relative;
    width: 202.646px;
    height: 202.646px;
    .insta_icon{
        position: absolute;
        bottom: 20px;
        z-index: 1;
     color: white;
        right: 20px;
    }
    img{
        width: 202.646px;
        height: 202.646px;
        
    }
}





.insta8 {
    position: relative;
    width: 202.646px;
    height: 202.646px;
    .insta_icon{
        position: absolute;
        bottom: 20px;
        z-index: 1;
     color: white;
        right: 20px;
    }
    img{
        width: 202.646px;
        height: 202.646px;
    }
}







}



.insta_line_3{
display: flex;
gap: .5rem;
@media(max-width:990px){
    // flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: .9rem;

}
    
    .insta9 {
        position: relative;
        width: 188.369px;
        height: 206.508px;
        .insta_icon{
            position: absolute;
            bottom: 20px;
            z-index: 1;
         color: white;
            right: 20px;
        }
        
        img{
            width: 188.369px;
            height: 206.508px;
        }
    } 



.insta10 {
    position: relative;
    width: 165.207px;
        height: 206.508px;
        .insta_icon{
            position: absolute;
            bottom: 20px;
            z-index: 1;
         color: white;
            right: 20px;
        }
    img{
        width: 165.207px;
        height: 206.508px;
    }
}



.insta11 {
    position: relative;
    width: 206.508px;
    height: 206.508px;
    .insta_icon{
        position: absolute;
        bottom: 20px;
        z-index: 1;
     color: white;
        right: 20px;
    }
    img{
        width: 206.508px;
    height: 206.508px;
}
}



.insta12 {
    position: relative;
    width: 394.916px;
    height: 206.508px;
    @media(max-width:400px){
        width: 100%;
    }
    .insta_icon{
        position: absolute;
        bottom: 20px;
        z-index: 1;
     color: white;
        right: 20px;
    }
    
    img{
        width: 394.916px;
        height: 206.508px;
        @media(max-width:400px){
            width: 100%;
        }
    }
}
}


}