.main_tour {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    overflow: hidden;


    .tour_title {
        color: #6d6d6d;
        letter-spacing: -1px;
        margin-top: 20px;
        // margin-bottom: 10px;
        font-size: 45px;
        font-weight: 300 !important;
        padding-top: 30px;
        padding-bottom: 40px;
        text-align: center;

        @media(max-width:800px) {
            font-size: 35px;
        }

        @media(max-width:450px) {
            font-size: 30px;
        }
    }

    .tour_title2 {
        color: #6d6d6d;
        letter-spacing: -1px;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 45px;
        font-weight: 300 !important;

        padding-bottom: 40px;
        text-align: center;

        @media(max-width:800px) {
            font-size: 35px;
        }

        @media(max-width:450px) {
            font-size: 30px;
        }
    }


    .line1 {
        width: 1035px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media(max-width:1035px) {
            width: 100%;

        }


        .img1 {
            width: 1035px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;

            @media(max-width:1035px) {
                width: 100%;

            }

            @media(max-width:830px) {
                flex-direction: column;


            }

            img {
                width: 328px;
                height: 211px;
                transition: .5s;

                @media(max-width:1200px) {
                    width: 268px;
                    height: 172px;
                }

                @media(max-width:830px) {
                    width: 60%;
                    height: auto;
                    object-fit: cover;
                }

                @media(max-width:500px) {
                    width: 90%;
                    height: auto;
                    object-fit: cover;
                }
            }

            img:hover {
                filter: brightness(.5);
            }
        }

    }

    .line2 {
        width: 1035px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media(max-width:1035px) {
            width: 100%;

        }


        .img2 {
            width: 1035px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;

            @media(max-width:1035px) {
                width: 100%;

            }

            @media(max-width:830px) {
                flex-direction: column;


            }

            img {
                width: 328px;
                height: 211px;

                @media(max-width:1200px) {
                    width: 268px;
                    height: 172px;
                }

                @media(max-width:830px) {
                    width: 60%;
                    height: auto;
                    object-fit: cover;
                }

                @media(max-width:500px) {
                    width: 90%;
                    height: auto;
                    object-fit: cover;
                }
            }

            img:hover {
                filter: brightness(.5);
            }
        }

    }

    .line3 {
        width: 1035px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media(max-width:1035px) {
            width: 100%;

        }


        .img3 {
            width: 1035px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;

            @media(max-width:1035px) {
                width: 100%;

            }

            @media(max-width:830px) {
                flex-direction: column;


            }

            img {
                width: 328px;
                height: 211px;

                @media(max-width:1200px) {
                    width: 268px;
                    height: 172px;
                }

                @media(max-width:830px) {
                    width: 60%;
                    height: auto;
                    object-fit: cover;
                }

                @media(max-width:500px) {
                    width: 90%;
                    height: auto;
                    object-fit: cover;
                }
            }

            img:hover {
                filter: brightness(.5);
            }
        }

    }





    .btn_explore {
        margin: 20px 0;
        display: inline-block;
        background-color: #03A87C;
        padding: 0.3125em 1.25em;
        font-size: 1.125em;
        text-align: center;
        border: 2px solid #03A87C;
        -webkit-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        transition: all .2s ease-in;
        border-radius: 20px;
        text-decoration: none;
        color: #fff;
    }


    .btn_explore:hover {
        color: #333;
        background-color: #fff;
    }







    .div_line {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        hr {
            border-top: 2px solid #03A87C !important;
            width: 17%;
            margin-top: 20px;
            margin-bottom: 20px;
        }


    }


    .more {
        width: 1035px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;

        @media(max-width:1035px) {
            width: 100%;
        }

        @media(max-width:880px) {
            flex-direction: column;
        }

        img {
            width: 328px;
            height: 211px;
            transition: .5s;

            @media(max-width:880px) {
                width: 70%;
                height: auto;
            }

            @media(max-width:500px) {
                width: 80%;
                height: auto;
            }

        }

        img:hover {
            filter: brightness(.5);
        }
    }

}