.main_sky {
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    overflow: hidden;


    .card_box{
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        gap: .5rem;

        .card{
            width: -webkit-fill-available;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            img{
                width: 100%;
                object-fit: cover;
            }
            .title{
                text-align: center;
                font-size: 1.2rem;
                color: #6d6d6d;
            }
            .detail{
                display: flex;
                flex-direction: column;
                gap: .5rem;
                font-size: .9rem;
                color: #6d6d6d;
            }
        }

        @media screen and (max-width:600px) {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }
    .bus {
        width: 507px;
        padding: 0px 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media(max-width:522px) {
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;
        }




        .bus_title {
            color: #6d6d6d;
            margin: 20px 0px 10px;
            font-size: 28px;
        }

        .bus_img img {
            width: 497px;
            height: 331px;

            @media(max-width:522px) {
                width: 100%;
                object-fit: cover;

            }
        }

        .bus_para1 {
            font-size: 16px;

            color: #6d6d6d;

            @media(max-width:522px) {
                text-align: center;
            }
        }

        .bus_para {
            font-size: 16px;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            color: #6d6d6d;

            @media(max-width:522px) {
                text-align: center;
            }
        }

        .bus_para2 {
            font-size: 16px;
            margin-top: 10px;
            color: #6d6d6d;

        }
    }

    .bus_1 {
        width: 100%;
        justify-content: center;
        display: flex;
        align-items: baseline;

        @media(max-width:1022px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }
    }

    .bus_2 {
        width: 100%;
        justify-content: center;
        display: flex;
        align-items: baseline;

        @media(max-width:1022px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }
    }

    .line {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        hr {
            border-top: 2px solid #03A87C !important;
            width: 18%;
            margin-top: 20px;
            margin-bottom: 20px;
        }


    }

    .ex {

        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 50px;

        .ex_title {
            color: #6d6d6d;
            margin: 20px 0px 10px;
            font-size: 28px;

            @media(max-width:400px) {
                font-size: 22px;
                padding-left: 10px;
                padding-right: 10px;
            }

        }

        .bus_line {
            width: 1005px;
            display: flex;
            gap: 1rem;
            justify-content: center;
            align-items: center;

            @media(max-width:1020px) {
                width: 100%;
            }

            @media(max-width:850px) {
                gap: 2rem;
                flex-direction: column;
            }



            .bus_line1 {
                width: 253px;
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: column;

                .bus_para {
                    font-size: 16px;
                    text-align: center;
                    color: #6d6d6d;
                }
            }
        }



        .our {

            width: 1005px;
            border-bottom: 1px solid #03A87C;
            display: flex;

            @media(max-width:1005px) {
                width: 100%;

            }

            @media(max-width:600px) {
                border: none;
                justify-content: center;
                align-items: center;

            }

            .skye {

                background-color: #fff;
                margin: 6px 0 0 0;
                color: #03A87C !important;
                font-size: 1.5em;
                border-top: 1px solid #03A87C;
                border-left: 1px solid #03A87C;
                border-right: 1px solid #03A87C;
                padding: 11px 15px;

                @media(max-width:600px) {
                    border-bottom: 1px solid #03A87C;
                    width: 80%;
                    text-align: center;

                }
            }
        }



    }




















}