.reasons_container {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    margin-top: 2rem;

    // @media(max-width:600px) {
    //     padding-left: 30px;
    //     padding-right: 30px;
    // }



    .main_award_1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;





        .award_title {
            font-size: 1.7rem;
            font-weight: 300 !important;
            padding-top: 30px;
            padding-bottom: 40px;
            letter-spacing: -1px;
            margin-top: 20px;
            margin-bottom: 10px;
            color: #6d6d6d;

            @media(max-width:600px) {
                font-size: 30px;
            }
        }

        .award_icon {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 1rem;

            .van {
                width: -webkit-fill-available;
                height: 140px;
                text-align: center;

                img {
                    width: 30%;
                }

                .van_para {
                    text-align: center;
                    color: #6d6d6d;
                    font-weight: 400;
                    margin: 0 0 10px;
                }

            }

            // @media(max-width:1000px) {
            //     .van{
            //         width: 150px;
            //     }
            // }

        }



        .line {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            hr {
                border-top: 2px solid #6DAAA2 !important;
                width: 10%;
                margin-top: 20px;
                margin-bottom: 20px;
            }


        }

    }

    .backcol {
        background-color: #E4EFEE;
        width: 100vw;
        padding: 1rem;
        display: flex;
        justify-content: center;
        padding: 2.5rem 0;
    }

    .main_award_2 {
        width: 676px;
        padding-left: 5px;
        padding-right: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        @media(max-width:676px) {
            width: 100%;
        }


        .para1 {
            width: 666px;
            text-align: center;
            color: #6d6d6d;
            font-weight: 400;
            // margin: 0 0 10px;

            @media(max-width:666px) {
                width: 100%;
            }
        }

    }





}