.footer_container {
    background-color: #303A5E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: white;
    gap: 3rem;

    .links {
        display: flex;
        flex-direction: column;
        gap: .3rem;

        @media only screen and (max-width:750px) {
            font-size: .8rem;
        }

        @media only screen and (max-width:650px) {
            font-size: 1.3rem;
            text-align: center;
        }
    }

    .follow {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        align-items: center;

        .heading {
            font-size: 2rem;
            text-align: center;
        }

        .socials {
            display: flex;
            gap: 1rem;
            font-size: 1.7rem;

        }

        img {
            width: 150px;
            object-fit: cover;
        }


        @media only screen and (max-width:750px) {
            .heading {
                font-size: 1.5rem;
            }

            .socials {
                font-size: 1.2rem;
            }

            img {
                width: 120px;
            }
        }

        @media only screen and (max-width:650px) {
            .heading {
                font-size: 2rem;
            }

            .socials {
                font-size: 1.7rem;
            }

            img {
                width: 150px;
            }
        }

    }

    .about {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        font-size: 1.5rem;

        .title {}

        .find {
            margin-top: 1rem;

            p {
                display: flex;
                gap: .5rem;
                align-items: center;
                font-size: 1rem;
            }
        }

        @media only screen and (max-width:750px) {
            font-size: 1.2rem;

            .find {
                p {
                    font-size: .8rem;
                }
            }
        }

        @media only screen and (max-width:650px) {
            font-size: 2rem;
            text-align: center;

            .find {
                p {
                    font-size: 1rem;
                    text-align: center;
                    justify-content: center;
                }
            }
        }
    }

    @media only screen and (max-width:650px) {
        flex-direction: column;
    }

}