.search_container {
    border: 10px solid white;
    width: 1000px;
    margin: 0 auto;
    // margin-top: -4rem;
    background-color: white;
    z-index: 10;
    padding: 1rem .5rem;

    @media only screen and (max-width:1080px) {
        width: -webkit-fill-available;
        margin: 0 3rem;
        // margin-top: -3rem;
        // grid-template-columns: 2fr 1fr
    }

    @media only screen and (max-width:860px) {
        display: block;

        .right_section {
            display: none;
        }
    }

    @media only screen and (max-width:500px) {
        margin: 0 1rem;
        // margin-top: -3rem;
    }



}