.main_award {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;


    .main_award_1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;





        .award_title {
            font-size: 45px;
            font-weight: 300 !important;
            padding-top: 30px;
            padding-bottom: 40px;
            letter-spacing: -1px;
            margin-top: 20px;
            margin-bottom: 10px;
            color: #6d6d6d;

            @media(max-width:900px) {
                font-size: 30px;
            }
            @media(max-width:450px) {
                font-size: 25px;
            }
        }

        .award_icon {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            .van {
                width: 200px;
                height: 140px;
                text-align: center;

                img {
                    width: 25%;
                }

                .van_para {
                    text-align: center;
                    color: #6d6d6d;
                    font-weight: 400;
                    margin: 0 0 10px;
                }

            }

            @media(max-width:900px) {
                display: grid;
                grid-template-columns: repeat(4, 1fr);

                .van {
                    width: -webkit-fill-available;

                    img {
                        width: calc(50% - 10px);
                    }

                    .van_para {
                        font-size: .85rem;
                    }
                }
            }
            @media(max-width:450px) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                .van {
                    width: -webkit-fill-available;

                    img {
                        width: calc(50% - 10px);
                    }

                    .van_para {
                        font-size: .85rem;
                    }
                }
            }

        }



        .line {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            hr {
                border-top: 2px solid #6DAAA2 !important;
                width: 10%;
                margin: 3rem 0;
            }


        }

    }

    .backcol {
        background-color: #E4EFEE;
        width: 100vw;
        padding: 1rem;
        display: flex;
        justify-content: center;
        padding: 2.5rem 0;
    }

    .main_award_2 {
        width: 676px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem 2rem;

        .para1 {
            text-align: center;
            color: #6d6d6d;
            font-weight: 400;
            // margin: 0 0 10px;

        }

        @media(max-width:900px) {
            width: -webkit-fill-available;
            font-size: .95rem;
        }
        @media(max-width:450px) {
            width: -webkit-fill-available;
            font-size: .8rem;
        }

    }

}