.newsletter_container {
    width: -webkit-fill-available;
    position: relative;

    .back_img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;

        img {
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }

    .newsletter_box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        padding: 10rem 0;

        .title {
            color: white;
            font-size: 2rem;
            text-align: center;

        }

        .subscribe {
            display: flex;
            gap: .5rem;

            input {
                background-color: rgba(255, 255, 255, 0.107);
                border: none;
                outline: none;
                padding: .7rem .5rem;
                font-size: large;
                border-radius: .3rem;
                width: 250px;
                color: white;
            }

            button {
                background-color: #6DAAA2;
                padding: .5rem 1rem;
                border: none;
                border-radius: .3rem;
                cursor: pointer;
                color: white;

                &:hover {
                    color: black;
                }
            }
        }

        @media screen and (max-width:900px) {
            padding: 7rem 0;

            .title {
                font-size: 1.7rem;
            }

            .subscribe {
                input {
                    padding: .65rem .5rem;
                    border-radius: .3rem;
                    width: 230px;
                }
            }
        }
        @media screen and (max-width:450px) {
            padding: 7rem 0;

            .title {
                font-size: 1.5rem;
            }

            .subscribe {
                input {
                    padding: .6rem .4rem;
                    border-radius: .3rem;
                    width: 200px;
                }
            }
        }
    }
}