.highlight_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1.5rem;
    background-color: RGB(235, 235, 235);
    color: #6d6d6d;

    .title {
        font-size: 1.5rem;
    }

    .options {
        display: flex;
        gap: 1rem;

        .option {
            display: flex;
            gap: .5rem;
            align-items: center;
            justify-content: center;

            .icon {
                color: green;
                font-size: 1.3rem;
            }
        }
    }

    .places {
        font-size: 1.4rem;
    }

    .places_list {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        span {
            font-weight: bold;
        }
    }
}