.main_p {
    width: 100%;

    .p_start {

        background: url(../../Assets/p_bg.jpg);
        width: -webkit-fill-available;
        background-position: center;
        background-size: cover;
        display: flex;
        padding: 3rem 1rem;
        justify-content: center;
        align-items: center;
        gap: 3.4rem;
        flex-wrap: wrap;
    }
}