.header_container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 85vh;
    color: white;

    .black_layer {
        position: absolute;
        width: -webkit-fill-available;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .back_img {
        position: absolute;
        width: -webkit-fill-available;
        z-index: -2;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: .8;
        }
    }

    .navbar_box {
        padding: 0 2rem;
        width: 1100px;
        display: flex;
        height: 100px;
        gap: 3rem;
        justify-content: space-between;
        align-items: center;
        font-size: 1.3rem;
        color: white;
        z-index: 5;
        align-self: center;
        position: relative;


        .logo {
            width: 130px;
            cursor: pointer;
            margin-right: -5rem;

            img {
                width: 100%;
                object-fit: contain;
            }
        }

        .links {
            display: flex;
            gap: 1rem;

            p {
                cursor: pointer;
            }
        }

        .about {
            display: flex;
            gap: 1rem;

            p {
                cursor: pointer;
            }

            .icons {
                display: flex;
                // flex-direction: column;
                justify-content: center;
                align-items: center;
                // margin-top: -20px;
                gap: .5rem;

                span {
                    cursor: pointer;
                    font-size: 1.1rem;
                }
            }
        }

        .nav_popup {
            position: absolute;
            background-color: white;
            width: 1200px;
            padding: 2rem;
            z-index: 100;
            top: 90px;
            color: #1b305a;
            box-shadow: 1px -.5px 5px 1px rgba(0, 0, 0, 0.603);

            .close {
                position: absolute;
                right: 20px;
                top: 20px;

                font-weight: bold;
                color: #03A87C;
                cursor: pointer;
            }

            .title {
                display: flex;
                width: -webkit-fill-available;
                gap: 1rem;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: xx-large;
            }

            .boxes {

                display: grid;
                grid-template-columns: 1fr 1fr;
                margin: .5rem 0;

                .left_box {
                    border-right: 1px solid black;
                    padding: .5rem 0;
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;

                    p {
                        color: #03A87C;
                        font-size: large;
                        cursor: pointer;

                        &:hover {
                            color: black;
                        }
                    }
                }

                .right_box {
                    padding: .5rem 0;
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;

                    .heading {
                        text-align: center;
                        font-size: medium;

                    }

                    .destinations {
                        width: 70%;
                        align-self: center;
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        // flex-direction: column;
                        gap: 1rem;
                        align-items: center;

                        // .list {
                        //     display: flex;
                        //     gap: 2rem;

                            .destination_box {
                                width: -webkit-fill-available;
                                // width: 120px;
                                display: flex;
                                flex-direction: column;
                                gap: .5rem;
                                align-items: center;
                                text-align: center;
                                cursor: pointer;

                                p {
                                    font-size: 1.5rem;
                                }
                                img{
                                    width: 30px;
                                }

                                font-size: medium;
                            }
                        // }
                    }

                }
            }


        }

        @media only screen and (max-width:1350px) {
            width: -webkit-fill-available;
            margin: 0 1rem;
        }

        @media only screen and (max-width:1050px) {
            font-size: .9rem;
        }

        @media only screen and (max-width:860px) {
            display: none;
            margin: 0;
        }
    }

    .mbl_nav_box {
        padding: 0 2rem;
        width: -webkit-fill-available;
        display: flex;
        height: 100px;
        gap: 3rem;
        justify-content: space-between;
        align-items: center;
        font-size: 1.3rem;
        color: white;
        z-index: 5;
        align-self: center;
        background-color: white;

        .logo {
            width: 130px;
            cursor: pointer;

            img {
                width: 100%;
                object-fit: contain;
            }
        }

        .phone {
            display: flex;
            gap: .5rem;
            justify-content: center;
            align-items: center;
            color: #6d6d6d;
            font-size: medium;
        }

        @media only screen and (min-width:860px) {
            display: none;
        }

        @media only screen and (max-width:600px) {
            .phone {
                font-size: .8rem;
            }
        }
    }

    .title_box {
        display: flex;
        flex-direction: column;
        gap: .3rem;
        z-index: 2;
        width: 1000px;
        margin: 3rem auto;


        .title {
            font-size: 3rem;
            font-weight: 600;
        }

        .title2 {
            font-size: 3rem;
            font-weight: 600;
            text-align: center;
        }

        .detail {
            font-size: 1.7rem;
            font-weight: 600;
        }

        @media only screen and (max-width:1050px) {
            .title {
                font-size: 2.5rem;
            }

            .title2 {
                font-size: 2.5rem;
            }

            .detail {
                font-size: 1.4rem;
            }
        }

        @media only screen and (max-width:1080px) {
            width: -webkit-fill-available;
            margin: 3rem;
        }

        @media only screen and (max-width:600px) {
            .title2 {
                font-size: 1.5rem;
            }
        }
    }

    .search_box {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        justify-content: center;
        margin-top: 7rem;
        align-self: center;

        .input_box {
            background-color: #ffffffb3;
            padding: .5rem 1rem;
            display: flex;
            gap: 1rem;

            input {
                background-color: white;
                color: black;
                border: none;
                outline: none;
                padding: 1rem;
                width: 300px;
            }

            .btn {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #03A87C;
                color: white;
                padding: .5rem 2rem;
                font-size: 1.4rem;
                cursor: pointer;
                box-sizing: border-box;
                border: 2px solid #03A87C;

                &:hover {
                    background-color: white;
                    color: black;
                }
            }
        }

        @media only screen and (max-width:600px) {
            margin: 0 3rem;
            margin-top: 7rem;
            width: -webkit-fill-available;

            .input_box {
                width: -webkit-fill-available;

                input {
                    width: -webkit-fill-available;
                }
            }
        }

        @media only screen and (max-width:450px) {
            .input_box {

                .btn {
                    width: -webkit-fill-available;
                    padding: .5rem 0;
                }
            }
        }
    }
}