.main_pay{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

.pay_space{
    width: 65%;
    display: flex;
    justify-content: space-between;
}


.pay1{
    display: flex;
    gap: 2rem;
}
.pay2{
    display: flex;
    gap: 2rem;




.abt img {

    width: 159px;
    height:70px ;

}


.top img{
    width: 159px;
    height:70px ;
}

}

}