.checkout_container {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .checkout_header {
        width: 800px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 700;
        color: #6d6d6d;
        margin: 0 auto;
        padding: 1rem;

        .secure {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .5rem;
        }

        img {
            width: 100px;
            object-fit: contain;
        }

        .phoone {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .5rem;
        }
    }

    .brack {
        height: 1px;
        width: -webkit-fill-available;
        background-color: #6d6d6d;
    }

    .checkout_box {
        width: 1000px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 3rem;

        .MuiStepper-root {
            width: 90%;
            align-self: center;

            .Mui-completed {
                color: green;
            }

        }

        .checkout_box {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .title {
                font-size: 3rem;
                font-weight: normal;
                color: #6d6d6d;
                text-align: center;
            }

            .step {
                display: grid;
                grid-template-columns: auto 350px;
                gap: 1rem;
                margin-bottom: 2rem;
                color: #6d6d6d;

                .accommodation {
                    display: flex;
                    flex-direction: column;
                    border: 1px solid #6d6d6d;


                    .options {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        margin: 2rem 2rem;
                        cursor: pointer;
                        font-size: 1.2rem;


                        .option {
                            display: flex;
                            gap: .5rem;

                            border: 1px solid #6d6d6d;
                            padding: 1rem;

                            input {
                                font-size: xx-large;
                            }
                        }

                        .own_detail {
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;

                            .doted {
                                // height: 1px;
                                border-bottom: 2px dotted black;
                            }

                            textarea {
                                width: -webkit-fill-available;
                                margin: .5rem 0;
                                background-color: RGB(223, 223, 223);
                            }
                        }
                    }

                    .break {
                        height: 1px;
                        background-color: #6d6d6d;
                    }

                    
                }
                .btn {
                    margin: 2rem;

                    button {
                        background-color: #03A87C;
                        border: 2px solid #03A87C;
                        border-radius: 20rem;
                        padding: .5rem 1rem;
                        font-size: 1.3rem;
                        cursor: pointer;
                        color: white;
                        transition: all .3s;
                        min-width:200px;

                        &:hover {
                            color: black;
                            background-color: white;
                        }
                    }
                }

                .your_details {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    border: 1px solid #6d6d6d;

                    .user_form {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        width: -webkit-fill-available;
                        margin: 2rem;
                        color: #6d6d6d;
                        
                        .heading , .adult{
                            font-weight: 300;
                            font-size: 1.5rem;
                        }
                        .policy{
                            font-size: 1.2rem;
                            span{
                                font-weight: bolid;

                            }
                            a{
                                color: #03A87C;
                            }
                        }


                        .line {
                            display: flex;
                            gap: .5rem;
                            width: -webkit-fill-available;

                            .input_box {
                                display: flex;
                                flex-direction: column;
                                gap: .5rem;
                                width: -webkit-fill-available;

                                p{
                                    font-size: 1.2rem;
                                }
                                span {
                                    color: #03A87C;
                                }
                               

                                input {
                                    width: -webkit-fill-available;
                                    color: inherit;
                                    background-color: #DFDFDF;
                                    padding: 10px 15px;
                                    border: none;
                                    box-sizing: border-box;
                                    padding: .8rem;
                                        font-size: large;

                                }
                            }
                            .select_box {
                                border: 4px solid #DFDFDF;
                                padding: .2rem;
            
                                .select {
                                    background-color: #DFDFDF;
                                    display: flex;
                                    padding: 1px;
                                    font-size: 1.5rem;
            
                                    .icon {
                                        color: green;
                                    }
            
                                    select {
                                        background: transparent;
                                        border: none;
                                        outline: none;
                                        width: -webkit-fill-available;
                                        padding: .3rem;
                                        font-size: large;
                                        color: inherit;
                                    }
                                }
                            }
                        }
                    }

                    .break{
                        height: 1px;
                        background-color: #6d6d6d;
                        width: -webkit-fill-available;
                    }
                }

                .details {
                    border: 1px solid #6d6d6d;
                    padding: 2rem;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    height: fit-content;
                    color: #6d6d6d;

                    .heading {
                        font-weight: 700;

                    }

                    img {
                        width: 200px;
                    }

                    .start,
                    .passengers,
                    .cost {
                        span {
                            font-weight: 700;
                        }
                    }

                }
            }
        }
    }
}