.book_container {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: .5rem .2rem;
    position: sticky;
    top: 0;

    .title {
        font-size: 1.4rem;
        color: #6d6d6d;
        span{
            color: #77777777;
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .line {
            width: -webkit-fill-available;
            display: flex;
            gap: 1rem;

            .select_container {
                width: -webkit-fill-available;
                display: flex;
                flex-direction: column;
                gap: .3rem;

                p {
                    font-size: 1.2rem;
                }

                .select_box {
                    border: 4px solid #DFDFDF;
                    padding: .2rem;

                    .select {
                        background-color: #DFDFDF;
                        display: flex;
                        padding: .2rem;
                        font-size: 1.5rem;

                        .icon {
                            color: green;
                        }

                        select {
                            background: transparent;
                            border: none;
                            outline: none;
                            width: -webkit-fill-available;
                        }
                    }
                }
            }
        }

        button {
            background-color: #03A87C;
            border: 2px solid #03A87C;
            border-radius: 20rem;
            padding: .5rem;
            font-size: 1.3rem;
            cursor: pointer;
            color: white;
            transition: all .3s;

            &:hover {
                color: black;
                background-color: white;
            }
        }
    }

    .break{
        height: 1px;
        background-color: RGB(232, 232, 232);
        line-height: 2px;
    }

    .social{
        font-size: 1.5rem;
        display: flex;
        justify-content: space-evenly;
        color: #666666;

        span{
            cursor: pointer;
        }
    }

}